body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fafafa;
  background-color: #1c1d20;
}

section {
  padding-bottom: 64px;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 96px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    padding-bottom: 164px;
  }

  .container {
    max-width: 1440px;
  }
}

input {
  display: flex;
  align-items: center;

  border: 1px solid #808080;
  border-radius: 4px;

  height: 40px;
  width: 100%;
  padding-left: 16px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: transparent;
}

input:hover {
  border-color: #2e2f42;
}

input:focus {
  border-color: #4e75ff;
}

input:disabled {
  border-color: #808080;
  color: #808080;
}

p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

p span {
  font-weight: 600;
}

.title {
  font-size: 24px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-section {
  padding: 60px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 8px;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 400px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 8px;
  width: 370px;
}

.gallery-image {
  border: 1px solid #808080;
}

.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 48px;
  align-items: center;
  border: 1px solid #808080;
}

.load-more-container {
  display: flex;
  justify-content: center;
}
